:root{
    --title-color : rgb(241, 241, 241);
    --header-bg : rgb(44, 44, 86);
    --nav-color : rgb(218, 218, 218);
    --nav-hover : rgb(103, 75, 244);
    --theme-btn-color : rgb(255, 255, 255);
    --about-bg : rgb(138, 138, 192);
    --hello-color : black;
    --name-color : black;
    --pro-color : black;
    --border-color : black;
    --btn-bg : rgb(164, 164, 248);
    --btn-color : black;
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    height : 100vh;
    width : 100%;
}

/* header */
.header{
    height : 10%;
    width : 100%;
    background-color : var(--header-bg);
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 1.4rem;
}
.header_title{
    color : var(--title-color);
    font-size : 1.7rem;
    font-weight : 600;
}
.navs{
    display : flex;
    justify-content : center;
    align-items : center;
    list-style : none;
    gap : 3rem;
}
.nav a{
    color : var(--nav-color);
    text-decoration : none;
    font-size : 1.4rem;
    transition : color 0.2s ease-in;
}
.nav a:hover{
    color : var(--nav-hover);
}

.theme_btn{
    color : var(--theme-btn-color);
    font-size : 1.7rem; 
     transition : color 0.2s ease-in;
     cursor : pointer;
}

.theme_btn:hover{
    color : var(--nav-hover);
}

/* about section */
.about{
    height : 90vh;
    width : 100%;
    background-color : var(--about-bg);
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 2.5rem;
}

.image_box{
    height : 50%;
    width : 30%;
}
.about_image{
    height : 100%;
    width : 100%;
}

.about_box{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : left;
    row-gap : 1rem;
}

.hello_title{
    font-size : 1.7rem;
    color : var(--hello-color);
}

.my_name{
    font-size : 2.2rem;
    color : var(--name-color);
    font-weight : 600;
}

.my_prof{
    font-size : 1.9rem;
    color : var(--pro-color);
}
.about_btn_box{
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 1rem;
    margin-top : 1rem;
}
.left_btn,.right_btn{
    border : 1px solid var(--border-color);
    font-size : 1.3rem;
    padding : 0.5rem;
    border-radius : 0.3rem;
    cursor : pointer;
    background-color : var(--btn-bg);
    color : var(--btn-color);
    transition : background-color 0.3s ease;
}

.left_btn:hover,.right_btn:hover{
    background-color : var(--nav-hover);
}

